.foodbox{
    padding: 5px;
    flex-direction: row;
}

.foodbox img{
    width: 80%;
    height:320px;
    object-fit:cover;
    border-radius: 5px;
}

.foodbox h1{
    font-size:15px;
    margin-top:20px;

}

.buybtn{
    color: black;
    background: var(--primary-color);
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    cursor:pointer;
}
